<div class="card" style="">
  <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x10000:format=jpg/path/s613b7158c5cedfa2/image/ib0c72fe68831bc51/version/1645369295/image.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= alpaca.name %></h5>
    <p class="card-text">Characteristics: height, weight, color, etccccccccccccc</p>
    <%= link_to "See details", alpaca_path(alpaca), class: "btn btn-outline-primary" %>
  </div>
</div>
