<div class="footer">
  <div class="footer-links">
    <a href="#">Datenschutz</a>
    <a href="#">Impressum</i></a>
    <a href="#">AGB</i></a>
    <a href="#"></i></a>
    <a href="#"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright ©2022 all rights reserved
  </div>
</div>
