<div class="footer">
  <div class="footer-links">
    <a href="https://it.wikipedia.org/wiki/Vicugna_pacos" target="_blank">Alpaca Wikipedia</a>
    <a href="https://www.youtube.com/watch?v=giQPoi0R_TM" target="_blank">Cute video</i></a>
    <a href="#">AGB just because</i></a>
    <a href="#"></i></a>
    <a href="#"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright ©2022 all rights reserved
  </div>
</div>
