

<div class="home-banner" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%= asset_path ('3alpacas.jpg') %>">
  <div class="homepage-container">
    <div class="text-content">
      <h1>Alpacas bring <strong>joy</strong> to your life!</h1>
      <p>Rent one of our alpacas and enjoy a great day with one of our cute friends.</p>
      <br>
      <a class="btn btn-primary" href="#">Checkout our Alpacas</a>
    </div>
  </div>
</div>
