<div class="banner">
  <div class="banner-text">
    <h1>Alpacas bring <strong>joy</strong> to <strong>your life!</strong></h1>
    <p>Rent one of our alpacas and enjoy a great day with one of our cute friends.</p>
  </div>
</div>
<div class="container">
  <h1>Our top alpacas:</h1>
  <div class="row g-4 gx-4">
    <% @alpacas.each do |alpaca| %>
      <div class="col-4">
        <%= render "shared/alpaca_card", alpaca: alpaca %>
      </div>
    <% end %>
  </div>
</div>
