<div class="banner mb-5">
  <div class="d-flex align-items-center justify-content-center">
    <div class="mt-5">
      <h1>Alpacas bring <strong>joy</strong> to <strong>your life!</strong></h1>
      <br>
      <p><span>Rent one of our alpacas and enjoy a great day with one of our cute friends.</span></p>
      <%= link_to "Book Alpacas", alpacas_path, class: "btn btn-lg btn-info text-muted fs-2" %>
    </div>
  </div>
</div>
<div class="container">
  <h1>Our top alpacas:</h1>
  <div class="row g-4 gx-4">
    <% @alpacas.each_with_index do |alpaca, i| %>
      <div class="col-4" style="margin-top: <%= (i+1)*25 %>px;">
        <%= render "shared/alpaca_card", alpaca: alpaca %>
      </div>
    <% end %>
  </div>
</div>
