.card-alpaca-img {
  width: 100%;
  height: 19vw;
  object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}

.card-alpaca {
  border-radius: 0.5em;
}

a.card_links:hover {
  color:#57B8FF !important;
}
